<% layout("layouts/boilerplate.ejs") %>
<div class="alert alert-danger" role="alert">
    
    <h3 class="alert-heading d-flex justify-content-center mb-2"><%=name%></h3>
    <h5 class="alert-heading d-flex justify-content-center mb-2">Error Code: <%=status%></h5>
    <h5 class="alert-heading d-flex justify-content-center mb-2"><%=message%></h5>
     
</div>